
.bgImage{

    background-image: url(../../../assets/pngegg2.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: auto;
    height: auto;
    background-color: #577e83;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    
} 

.round-right-side{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px; 
}

.base-login{
    background-color: #1c1c1c;
    color:white;   
    background-image: linear-gradient(to bottom right, red, rgb(166, 255, 0));
}

.element-100{
    height: 100vh; /* For 100% screen height */
    width:  100vw; /* For 100% screen width */
    overflow: auto;
}