
<div class="base2 element">

    <div class="container">
        <div class="row pt-5">
          
            <div class="row align-items-stretch">
                <div class="col bg bg-success d-none d-lg-block d-md-block ">
    
                </div>
                <div class="col bg-white text-secondary ">
                     <div class="text-end">
                         <img src="assets/angular.png" width="48" alt="logo">
                     </div>
                     <h2 class="fw-bold text-center pt-5 mb-5">Welcome</h2>
    
                     <!--login-->
                     <form action="#">
                         <div class="mb-4">
                             <label for="email" class="form-label">Email</label>
                             <input type="email" class="form-control" name="email">
                         </div>
                         <div class="mb-4">
                            <label for="email" class="form-label">Password</label>
                            <input type="password" class="form-control" name="password">
                         </div>
                         <div class="mb-4 form-check">
                             <input type="checkbox" name="connected" class="form-check-input" id="">
                             <label for="connected" class="form-check-label">Stay connected</label>
                         </div>
    
                         <div class="d-grid">
                             <button type="submit" class="btn btn-primary">Init Session</button>
                         </div>
    
                         <div class="my-3">
                             <span> You don't have an account <a href="#">Register</a></span> <br>
                             <span><a href="#">Password Recover</a></span>
                         </div>
                     </form>
    
    
                     <!--login socila network-->
                     <div class="container w-100 my-5">
                          <div class="row text-center">
                              <div class="col-12">Start Session</div>
                          </div>
                          <div class="row">
                              <div class="col">
                                  <button class="btn btn-outline-primary w-100 my-1">
                                      <div class="row align-items-center">
                                           <div class="col-2 d-none d-md-block">
                                               <img src="assets/fb_logo.png" width="32" alt="logo-fb">
                                           </div>
                                           <div class="col-12 col-md-10 text-center">
                                               Facebook
                                           </div>
                                      </div>
                                  </button>
                              </div>
                              <div class="col">
                                    <button class="btn btn-outline-danger w-100 my-1">
                                        <div class="row align-items-center">
                                            <div class="col-2 d-none d-md-block">
                                                  <img src="assets/Google-logo.png" width="25" height="25" alt="logo-google">
                                            </div>
                                            <div class="col-12 col-md-10 text-center">
                                                Google
                                            </div>
                                        </div>
                                    </button>     
                              </div>
                          </div>
                     </div>
                </div>
            </div>
    
        </div>
    </div>
</div>


 
  
    
